 body{
 	width:100%;
 	background-color: #082185;
    color: #fff;
    font-family: "Times New Roman", Georgia, Serif;
    background-image: url('../images/background-2.jpg');
 	background-repeat: no-repeat;
 	background-position: center ;
    width:100%;
    font-size: 120%;
    
 }

 #content{
 	
 	padding: 0 3% 10% 3%;

 }
header{
	width:100%;
 	background-color: #1B093F;
 	background-image: url('../images/background.jpeg');
 	background-repeat: no-repeat;
 	background-position: center;
 	padding: 0 0 3% 0;
}
 nav{
 	color:#f0e91c;
 	background-color: #fff;
 	background-size: 100%; 
 	padding-left: 10%;
 	
 }

nav h1{
 	font-size: 220%;
 	font-family:Impact, "Charcoal", sans-serif;


 }
 article{
 	background-color: #fff;
 	color: #1B093F;
 	font-size:120%;
    padding: 5%;

 }
 
h2{
	margin-left: 10%;
}
 a:link{
 	color: #1B093F;
 	text-decoration: none;
 }
 a:hover{
 	background-color: #1B093F;
 	color: #fff;
 }

#footer{
 	color: #1B093F;
 	text-align: center;
 	background-color: #fff;
 	font-size: 100%;
 	padding: .5%;
 	margin-top: 20%;
 }

 